
{% extends 'base.html' %}

{% block content %}
    <div class="h-100 fc jcc">
        <div class="b1 br1 p2">
            <h1 class="tac">Register Page</h1>
            <p class="error-message red tac p1"></p>
            <form class="fc jcc" action="" >
                <div class=" m1 fc jcc">
                    <label for="name">Name</label>
                    <input class="b2  p0p5 " type="text" name="name" id="name" required>
                </div>
                <div class=" m1 fc jcc">
                    <label for="password">Password</label>
                    <input class="b2 p0p5 " type="password" name="password" id="password" required>
                </div>
                
                <button class="btn-2 purple-btn m1" id="register-btn">Register</button>
            </form>
            <p>Already have an account? <a id="login-btn" href="">Login</a> </p>
        </div>
    </div>
{% endblock %}

{% block scripts %} 
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
{% endblock %}