*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: 'inter', sans-serif;
}
.btn-1{
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}
.btn-2{
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}
.purple-btn{
    background-color: rgb(127, 2, 245);
    color: white;
}
.purple-btn:hover{
    background-color: rgb(156, 84, 223);
}
.blue-btn{
    background-color: white;
    border: solid 2px blue;
    color: blue;
}
.blue-btn:hover{
    background-color: blue;
    color: white;
}
.send-btn{
    height: 1rem;
    width: 1rem;
}

.h-100{
    min-height: 100vh;
}
.w-200{
    width: 200%;
}
.w-100{
    width: 100%;
}
.w-90{
    width: 90%;
}
.w-60{
    width: 60%;
}
.vw-100{
    width: 100vw;
}
.mw-800{
    max-width: 800px;
}
.mw-1000{
    max-width: 1000px;
}
.tac{
    text-align: center;
}
.b1{
    border: solid 1px black;
}
.b2{
    border: solid 2px black;
}
.br1{
    border-radius: 1rem;
}
.br2{
    border-radius: 2rem;
}
.br50p{
    border-radius: 50%;
}
.p1{
    padding: 1rem;
}
.p2{
    padding: 2rem;
}
.pb8{
    padding-bottom: 8rem;
}
.p0p5{
    padding: 0.5rem;
}
.m1{
    margin: 1rem;
}
.m2{
    margin: 2rem;
}
.ma{
    margin: auto;
}
.mr1{
    margin-right: 1rem;
}
.fc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fr{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.jcc{
    justify-content: center;
}
.g1{
    gap: 1rem;
}
.g2{
    gap: 2rem;
}
.red{
    color: red;
}
.pf{
    position: fixed;
    bottom: 1rem;
}
.pr{
    position: relative;
}
.fs1p3{
    font-size: 1.3rem;
}
.l0{
    left: 0;
}
.l20{
    left: 20%;
}
.r0{
    right: 0;
}
.message-box{
    background-color: aquamarine;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem 1rem 1rem 0;
    max-width: 50%;
}
.name{
    font-size: 0.8rem;
    overflow-wrap: break-word;
}
.message{
    font-size: 1.3rem;
}
.you{
    margin-left: auto;
    border-radius: 1rem 1rem 0 1rem;
    background-color: rgb(91, 226, 181);
}
.connected{
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: green;
    padding: 1rem;
}
.disconnected{
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    color: red;
    padding: 1rem~;
}
.test{
    background-color: rebeccapurple;
}


@media (max-width: 800px) {
    .input-bar{
        width: 70%;
    }
   .input-container{
    width: 90%;
    left: 5%;
   }
}